


.main{


	background-color:#92c2e7;

}

.header{


	background-color:#fff;
	text-align:center;
	margin-top:20px;
	margin-bottom:40px;
	font-size:40px;
	font-weight:bold;
	font-family:'Lobster' , cursive ;

	
}
.img1{


	display:block;
	width:100%;
}
 .otter1 {

 	
	display:block;
	
	margin-top:5%;
	margin-left:15%;
	margin-right:14%;


}
	.text{
		color:#fff;
	
		
		font-size:25px;
		font-family:cursive;
		padding-left:25%;
		padding-bottom:30px;


	}

.container{

	display:flex;




	






}
.img2 , .span{
		
		
		margin:1px;
		width:137px;
		color:#fff;
		
		height:auto;
		background-color:#376273;



}










@media screen and (max-width:800px){

			.container , .span , .img2 {	display:flex;
				flex-wrap:wrap;
		
				
				width:100%;
			
				
			
}





}
