

/* Table */

.main{

	border:3px solid ;
	border-collapse:collapse;
	width:1000px;
	height:100px;
	text-align:center;

}

td , tr{
		border:1px solid;

}

/*    Lists     */
ul{

	color:red;
	font-size:20px;
	background-color:black; 
	width:50%;


}


ol{


	color:blue;
	font-size:20px;
}



